http://otcads.umd.edu/bfa/2019%20COLA%20history%20Revised.htm

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import pickle
import numpy as np

### Salary Increases

In [2]:
url = 'http://otcads.umd.edu/bfa/2013%20COLA%20history_files/sheet001.htm'
r = requests.get(url)

In [3]:
soup = BeautifulSoup(r.text,'html.parser')

In [4]:
len(soup.find_all('table'))

1

In [5]:
table = soup.find('table')

for e in table.find_all('td'):
    if(e.find('p') is not None and e.find('p').find('b') is not None and not e.find('p').find('b').text.isspace()):
        print(e.find('p').find('b').text)

In [6]:
str_salary = []

for e in table.find_all('td'):
    if(e.find('p') is not None and not e.find('p').text.isspace() and e.find('p').find('b') is None):
        str_salary.append(e.find('p').text.strip())

str_salary

In [7]:
for i in range(0, len(str_salary)):
    print(i, " ", str_salary[i])

0   1967
1   0.00%
2   0.00%
3   0.00%
4   1968
5   12.00%
6   5.00%
7   17.00%
8   1969
9   0.00%
10   6.00%
11   6.00%
12   1970
13   8.00%
14   6.00%
15   14.00%
16   1971
17   5.00%
18   7.00%
19   12.00%
20   1972
21   7.80%
22   6.00%
23   14.80%
24   1973
25   0.00%
26   4.50%
27   4.50%
28   1974
29   0.00%
30   5.00%
31   5.00%
32   1975
33   7.60%
34   3.50%
35   11.10%
36   1976
37   5.30%
38   4.00%
39   9.30%
40   1977
41   0.00%
42   0.50%
43   0.50%
44   1978
45   5.50%
46   3.00%
47   8.50%
48   1979
49   3.10%
50   3.00%
51   6.10%
52   1980
53   6.05%
54   3.00%
55   9.05%
56   1981
57   7.00%
58   2.70%
59   9.70%
60   1982
61   0.00%
62   2.00%
63   2.00%
64   1983
65   9.00%
66   5.21%
67   14.21%
68   1984
69   0.00%
70   2.65%
71   5.11%
72   1985
73   6.00%
74   3.26%
75   11.00%
76   1986
77   4.00%
78   3.24%
79   7.24%
80   1987
81   3.50%
82   4.00%
83   7.50%
84   1988
85   2.50%
86   3.50%
87   6.00%
88   1989
89   4.00%
90   3.60%
91   7.60%
92   1990
93   4.00%
94   4.00%
95   8.00%
96   1991
97   4.00%
98   1.25%
99   5.25%
100   1992
101   0.00%
102   0.00%
103   0.00%
104   1993
105   0.00%
106   0.00%
107   0.00%
108   1994
109   0.00%
110   1.25%
111   1.25%
112   1995
113   3.00%
114   1.25%
115   4.25%
116   1996
117   2.00%
118   1.25%
119   3.25%
120   1997
121   0.00%
122   1.25%
123   1.25%
124   1998
125   0.00%
126   1.25%
127   1.25%
128   1999
129   $1,275
130   1.25%
131   variable
132   2000
133   $1,275
134   2.50%
135   variable
136   2001
137   4.00%
138   2.50%
139   6.50%
140   2002
141   4.00%
142   2.50%
143   6.50%
144   2003
145   0.00%
146   0.00%
147   0.00%
148   2004
149   0.00%
150   0.00%
151   0.00%
152   2005
153   $752
154   2.50%
155   variable
156   2006
157   1.5%
158   2.50%
159   4.00%
160   2007
161   2.0%
162   2.50%
163   4.50%
164   2008
165   2.0%
166   2.50%
167   4.50%
168   2009
169   2.0%
170   2.50%
171   4.50%
172   2010
173   0.0%
174   0.00%
175   0.00%
176   2011
177   0.0%
178   0.00%
179   0.00%
180   2012
181   $750 bonus
182   0.00%
183   $750 bonus
184   2013
185   2.0%
186   0.00%
187   2.00%
188   2014
189   3.0%
190   2.50%
191   5.50%
192   2015
193   2.0%
194   2.50%
195   5.50%
196   2016
197   0.0%
198   0.00%
199   0.00%
200   2017
201   0.0%
202   2.50%
203   2.50%
204   2018
205   0.0%
206   0.00%
207   0.00%
208   2019
209   2.5%
210   0.00%
211   2.5%
212   $500 bonus
213   $500 bonus
214   2020
215   3.0%
216   0.00%
217   3.0%
218   1
219   Grades 1-7=9%  Grades 8-14=7%  Grades 15-19=5%
220   2
221   Grades 1-7=6%  Grades 8-14=4%  Grades 15-19=3%
222   3
223   Minimum 4.5%
224   4
225   6.8% - 12.3%   = minimum of $550
226   5
227   3.0% - 8.78%   = minimum of $500
228   6
229   5% - 6%           = minimum of $400
230   7
231   3%                   = minimum of $300
232   8
233   6%                   = minimum of $500
234   9
235   Estimated
236   10
237   5.11% annualized,
  but implementation delayed half of year.
238   11
239   5.0% but delayed
  for 15% of employees salary year.
240   12
241   Ann Salary Rev
  effected Classified Grading for Some Titles
242   13
243   Classified
  Employees did not receive step increments
244   14
245   1995 COLA included $800 or 3% whichever higher;  merit/class increments delayed 2 months
246   15
247   1.25% merit and class increments delayed 4 months 11/1/95
248   16
249   FY 99-Flat rate COLA; incremented $900 on 7/1/98 and $375
  on 1/1/99; annualized $1,088.
250   17
251   FY 00-Flat rate COLA; incremented $638 on 7/1/99 and $637
  on 1/1/00; annualized $957.
252   18
253   4% COLA delayed
  until 11/15/2000; 2.5% merit on 7/1/2000.
254   19
255   4% COLA delayed
  until 1/1/2002; 2.5% merit on 7/1/2001.
256   20
257   FY 2005 $752 flat rate COLA
258   21
259   FY 2007 COLA -$900 for salaries $45K and below; 2% for
  salaries >$45K and less than $70K - no higher than $1400
260   22
261   2% COLA delayed
  until 1/1/13
262   23
263   3% COLA delayed
  until 1/1/14; 2.5% merit delayed until 4/1/14
264   24
265   2% COLA delayed
  until 1/1/15
266   25
267   2% COLA delayed
  until 1/1/19; 0.5% COLA delayed until 4/1/19

In [8]:
i = 0

salary_increases = pd.DataFrame(columns=['Year', 'State C.O.L.A. %', 'Merit %', 'Total Increase %'])

while(i <= 208):
#     str_salary[i + 0]
    salary_increases = salary_increases.append({
                'Year' : str_salary[i + 0],
                'State C.O.L.A. %' : str_salary[i + 1],
                'Merit %' : str_salary[i + 2],
                'Total Increase %' : str_salary[i + 3]
        }, ignore_index=True)
    i = i + 4
#     break;

In [9]:
for col in ['State C.O.L.A. %', 'Merit %', 'Total Increase %']:
    salary_increases[col] = salary_increases[col].apply(lambda x : x.replace('%', '').replace(',', '').replace('$', '').replace('bonus', ''))
    salary_increases[col] = salary_increases[col].replace('variable', np.nan)                                                    
    salary_increases[col] = salary_increases[col].astype(float)

In [10]:
salary_increases

    Year  State C.O.L.A. %  Merit %  Total Increase %
0   1967              0.00     0.00              0.00
1   1968             12.00     5.00             17.00
2   1969              0.00     6.00              6.00
3   1970              8.00     6.00             14.00
4   1971              5.00     7.00             12.00
5   1972              7.80     6.00             14.80
6   1973              0.00     4.50              4.50
7   1974              0.00     5.00              5.00
8   1975              7.60     3.50             11.10
9   1976              5.30     4.00              9.30
10  1977              0.00     0.50              0.50
11  1978              5.50     3.00              8.50
12  1979              3.10     3.00              6.10
13  1980              6.05     3.00              9.05
14  1981              7.00     2.70              9.70
15  1982              0.00     2.00              2.00
16  1983              9.00     5.21             14.21
17  1984              0.00     2.65              5.11
18  1985              6.00     3.26             11.00
19  1986              4.00     3.24              7.24
20  1987              3.50     4.00              7.50
21  1988              2.50     3.50              6.00
22  1989              4.00     3.60              7.60
23  1990              4.00     4.00              8.00
24  1991              4.00     1.25              5.25
25  1992              0.00     0.00              0.00
26  1993              0.00     0.00              0.00
27  1994              0.00     1.25              1.25
28  1995              3.00     1.25              4.25
29  1996              2.00     1.25              3.25
30  1997              0.00     1.25              1.25
31  1998              0.00     1.25              1.25
32  1999           1275.00     1.25               NaN
33  2000           1275.00     2.50               NaN
34  2001              4.00     2.50              6.50
35  2002              4.00     2.50              6.50
36  2003              0.00     0.00              0.00
37  2004              0.00     0.00              0.00
38  2005            752.00     2.50               NaN
39  2006              1.50     2.50              4.00
40  2007              2.00     2.50              4.50
41  2008              2.00     2.50              4.50
42  2009              2.00     2.50              4.50
43  2010              0.00     0.00              0.00
44  2011              0.00     0.00              0.00
45  2012            750.00     0.00            750.00
46  2013              2.00     0.00              2.00
47  2014              3.00     2.50              5.50
48  2015              2.00     2.50              5.50
49  2016              0.00     0.00              0.00
50  2017              0.00     2.50              2.50
51  2018              0.00     0.00              0.00
52  2019              2.50     0.00              2.50

In [11]:
salary_increases.to_pickle('df/salary_increases')