http://otcads.umd.edu/bfa/budgetinfo3.htm

Salary Increases
Historical Tuition and Fees  

Tuition and Fees, Revenues, Expenses - Program, Expenses - Category

### Historical Tuition and Fees

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import pickle

In [2]:
url = 'http://otcads.umd.edu/bfa/FY20%20Working%20Budget/web/TuitHist%202010%20to%202020%20(Excel)_files/sheet001.htm'
r = requests.get(url)

In [3]:
soup = BeautifulSoup(r.text,'html.parser')

In [4]:
len(soup.find_all('table'))

1

In [5]:
table = soup.find('table')

In [20]:
str_table = []
for e in table.find_all('td'):
    if(e.text.strip()):
        str_table.append(e.text.strip())

In [21]:
str_table
for i in range(0, len(str_table)):
    print(i, " ", str_table[i])

0   Tuition & Mandatory Fees
1   University of Maryland,
  College Park
2   FY 2010-2020
3   Standard Tuition Rates
4   Total for Fall and Spring
5   2010
6   2011
7   2012
8   2013
9   2014
10   2015
11   2016
12   2017
13   2018
14   2019
15   2020
16   Undergrad Resident
17   6,566
18   6,763
19   6,966
20   7,175
21   7,390
22   7,764
23   8,152
24   8,315
25   8,481
26   8,651
27   8,824
28   Undergrad Non-Res
29   22,503
30   23,178
31   24,337
32   25,554
33   26,576
34   27,905
35   29,300
36   30,179
37   31,688
38   33,272
39   34,936
40   Undergrad PT Resident
41   273
42   282
43   290
44   299
45   308
46   324
47   340
48   346
49   353
50   360
51   367
52   (fee per credit hour)
53   Undergrad PT Non-Res
54   938
55   966
56   1,014
57   1,065
58   1,108
59   1,163
60   1,221
61   1,258
62   1,321
63   1,387
64   1,456
65   (fee per credit hour)
66   Graduate Resident
67   471
68   500
69   525
70   551
71   573
72   602
73   632
74   651
75   683
76   717
77   731
78   (fee per credit hour)
79   Graduate Non-Res
80   1,016
81   1,077
82   1,131
83   1,188
84   1,236
85   1,298
86   1,363
87   1,404
88   1,474
89   1,548
90   1,625
91   (fee per credit hour)
92   Mandatory Fees
93   Total for Fall and Spring
94   2010
95   2011
96   2012
97   2013
98   2014
99   2015
100   2016
101   2017
102   2018
103   2019
104   2020
105   Undergrad FT
106   1,487
107   1,653
108   1,689
109   1,733
110   1,771
111   1,815
112   1,844
113   1,866
114   1,918
115   1,944
116   1,955
117   Undergrad PT
118   678
119   761
120   779
121   799
122   818
123   840
124   855
125   866
126   893
127   906
128   910
129   Graduate FT
130   1,188
131   1,351
132   1,383
133   1,413
134   1,446
135   1,490
136   1,521
137   1,538
138   1,590
139   1,620
140   1,635
141   Graduate PT
142   675
143   757
144   773
145   788
146   806
147   829
148   846
149   855
150   881
151   898
152   902
153   Data
  obtained from University of Maryland System Operating Budget Requests,
  reviewed by the Board of Regents.

In [28]:
str_table[4:5]

['Total for Fall and Spring']

In [34]:
tuition_fees = pd.DataFrame(columns=['Fee Type', 'Student Type'] + list(range(2010, 2021)))

i = 16
while(i <= 91):
    descr = str_table[i]
    skip = 0
    if(str_table[i + 12] == '(fee per credit hour)'):
        descr = descr + ' (fee per credit hour)'
        skip = 1
        
    years = list(range(2010, 2021))
    values = str_table[i+1:i+12]
    dictionary = dict(zip(years, values))
    dictionary['Student Type'] = descr
    
    dictionary['Fee Type'] = 'Standard Tuition Rates: Total for Fall and Spring'
    
    tuition_fees = tuition_fees.append(dictionary, ignore_index=True)
    i = i + 12 + skip 
    
i = 105
while(i <= 152):
    descr = str_table[i]
    
    years = list(range(2010, 2021))
    values = str_table[i+1:i+12]
    dictionary = dict(zip(years, values))
    dictionary['Student Type'] = descr
    
    dictionary['Fee Type'] = 'Mandatory Fees: Total for Fall and Spring'
    
    tuition_fees = tuition_fees.append(dictionary, ignore_index=True)
    i = i + 12
    
tuition_fees

,Fee Type,Student Type,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Standard Tuition Rates: Total for Fall and Spring,Undergrad Resident,"6,566","6,763","6,966","7,175","7,390","7,764","8,152","8,315","8,481","8,651","8,824"
1,Standard Tuition Rates: Total for Fall and Spring,Undergrad Non-Res,"22,503","23,178","24,337","25,554","26,576","27,905","29,300","30,179","31,688","33,272","34,936"
2,Standard Tuition Rates: Total for Fall and Spring,Undergrad PT Resident (fee per credit hour),273,282,290,299,308,324,340,346,353,360,367
3,Standard Tuition Rates: Total for Fall and Spring,Undergrad PT Non-Res (fee per credit hour),938,966,"1,014","1,065","1,108","1,163","1,221","1,258","1,321","1,387","1,456"
4,Standard Tuition Rates: Total for Fall and Spring,Graduate Resident (fee per credit hour),471,500,525,551,573,602,632,651,683,717,731
5,Standard Tuition Rates: Total for Fall and Spring,Graduate Non-Res (fee per credit hour),"1,016","1,077","1,131","1,188","1,236","1,298","1,363","1,404","1,474","1,548","1,625"
6,Mandatory Fees: Total for Fall and Spring,Undergrad FT,"1,487","1,653","1,689","1,733","1,771","1,815","1,844","1,866","1,918","1,944","1,955"
7,Mandatory Fees: Total for Fall and Spring,Undergrad PT,678,761,779,799,818,840,855,866,893,906,910
8,Mandatory Fees: Total for Fall and Spring,Graduate FT,"1,188","1,351","1,383","1,413","1,446","1,490","1,521","1,538","1,590","1,620","1,635"
9,Mandatory Fees: Total for Fall and Spring,Graduate PT,675,757,773,788,806,829,846,855,881,898,902

In [35]:
tuition_fees.to_pickle('tuition_fees')