# Salaries over Time from 2013 - 2019

https://salaryguide.dbknews.com/#/salGuide

This URL contains the holy grail of all the salaries of all faculty at UMD from 2013 to 2019. At first, we were going to scrape this data from it's web pages, but after talking to the staff who work on "The Diamondback", we learned that there is an API endpoint at `https://api.dbknews.com/`.

In [1]:
import numpy
import pandas as pd
import json
import pickle
import time

import requests
from requests.adapters import HTTPAdapter
from requests.packages.urllib3.util.retry import Retry

This code is updated as of 2019. If you would like to query data beyond 2019 (or potentially before 2013), you can modify the parameters shown directly below:

In [2]:
start_year = 2013
end_year = 2019

Since there's thouands of faculty and therefore thousands of data points in a single year, all the data cannot be queried at once. Each query will give 10 faculty salaries and this is looped for all the salaries in the year.

In [3]:
session = requests.Session()
retry = Retry(connect=3, backoff_factor=0.5)
adapter = HTTPAdapter(max_retries=retry)
session.mount('http://', adapter)
session.mount('https://', adapter)

In [ ]:
yearQueries = list(map(str, range(start_year, end_year + 1)))

json_responses = dict(zip(list(map(str, range(start_year, end_year + 1))), [[]] * (end_year - start_year + 1)))
for query in yearQueries: 
    response = session.get('https://api.dbknews.com/salary/year/' + query)
    
    data_raw = json.loads(response.content)
    for i in range(0, int(data_raw["count"] / 10 + 2)):
        response = session.get('https://api.dbknews.com/salary/year/'+ query + '/?page='+str(i))
        if response.status_code == 200:
            data = json.loads(response.content)
            json_responses[query].append(data)
        else:
            print('Error ->\tYear: ', query, "\tPage #: ", i)

This data is then merged together and concatted.

In [ ]:
salary_dfs = dict(zip(list(map(str, range(start_year, end_year + 1))), [[]] * (end_year - start_year + 1)))

for key in json_responses:
    for item in json_responses[key]:
        if key in salary_dfs:
            salary_dfs[key].append(pd.DataFrame(item["data"]))

for key in salary_dfs.keys():
    salary_dfs[key] = pd.concat(salary_dfs[key])
    salary_dfs[key]['Year'] = key
salaries = pd.concat(salary_dfs.values())

We then dropped any duplicates and type casted the columns into the correct types.

In [ ]:
salaries = salaries.drop_duplicates()
salaries = salaries.reset_index()

In [ ]:
salaries['Year'] = salaries['Year'].astype(int)
salaries['Salary'] = salaries['Salary'].replace('[\$,]', '', regex=True).astype(float)

In [ ]:
salaries['School'] = salaries['Department'].apply(lambda x : x.partition('-')[0])

In [ ]:
salaries = salaries[['Year', 'School', 'Department', 'Division', 'Title', 'Employee', 'Salary']]

In [ ]:
salaries

In [23]:
salaries.to_pickle('df/salaries')