# Salary Increase Rates from 1967 - 2019

As shown on http://otcads.umd.edu/bfa/budgetinfo3.htm, there is a historical tuition and fees page (shown here: http://otcads.umd.edu/bfa/2019%20COLA%20history%20Revised.htm).  
This dataset has salary increase rates every year from 1967 to 2019.

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import pickle
import numpy as np

## Scraping

In [2]:
url = 'http://otcads.umd.edu/bfa/2013%20COLA%20history_files/sheet001.htm'
r = requests.get(url)

In [3]:
soup = BeautifulSoup(r.text,'html.parser')

## Parsing

In [4]:
# Making sure that the only table being used is the only table present.
len(soup.find_all('table'))

1

In [5]:
table = soup.find('table')

In [6]:
str_salary = []

for e in table.find_all('td'):
    if(e.find('p') is not None and not e.find('p').text.isspace() and e.find('p').find('b') is None):
        str_salary.append(e.find('p').text.strip())

All data from the page is in the str_salary array. To correctly index the right parts of the data, the entire table was printed to find the right index. The code directly below can be uncommented to index each element of the array.

for i in range(len(str_salary)):
    print(i, " ", str_salary[i])

In [7]:
i = 0

salary_increases = pd.DataFrame(columns=['Year', 'State C.O.L.A. %', 'Merit %', 'Total Increase %'])

while(i <= 208):
#     str_salary[i + 0]
    salary_increases = salary_increases.append({
                'Year' : str_salary[i + 0],
                'State C.O.L.A. %' : str_salary[i + 1],
                'Merit %' : str_salary[i + 2],
                'Total Increase %' : str_salary[i + 3]
        }, ignore_index=True)
    i = i + 4
#     break;

## Finalizing & Fine-tuning

The data is now being correctly type casted.

In [8]:
for col in ['State C.O.L.A. %', 'Merit %', 'Total Increase %']:
    salary_increases[col] = salary_increases[col].apply(lambda x : x.replace('%', '').replace(',', '').replace('$', '').replace('bonus', ''))
    salary_increases[col] = salary_increases[col].replace('variable', np.nan)                                                    
    salary_increases[col] = salary_increases[col].astype(float)

In [9]:
salary_increases = salary_increases.sort_values(by='Year', ascending=False)

In [10]:
salary_increases

    Year  State C.O.L.A. %  Merit %  Total Increase %
52  2019              2.50     0.00              2.50
51  2018              0.00     0.00              0.00
50  2017              0.00     2.50              2.50
49  2016              0.00     0.00              0.00
48  2015              2.00     2.50              5.50
47  2014              3.00     2.50              5.50
46  2013              2.00     0.00              2.00
45  2012            750.00     0.00            750.00
44  2011              0.00     0.00              0.00
43  2010              0.00     0.00              0.00
42  2009              2.00     2.50              4.50
41  2008              2.00     2.50              4.50
40  2007              2.00     2.50              4.50
39  2006              1.50     2.50              4.00
38  2005            752.00     2.50               NaN
37  2004              0.00     0.00              0.00
36  2003              0.00     0.00              0.00
35  2002              4.00     2.50              6.50
34  2001              4.00     2.50              6.50
33  2000           1275.00     2.50               NaN
32  1999           1275.00     1.25               NaN
31  1998              0.00     1.25              1.25
30  1997              0.00     1.25              1.25
29  1996              2.00     1.25              3.25
28  1995              3.00     1.25              4.25
27  1994              0.00     1.25              1.25
26  1993              0.00     0.00              0.00
25  1992              0.00     0.00              0.00
24  1991              4.00     1.25              5.25
23  1990              4.00     4.00              8.00
22  1989              4.00     3.60              7.60
21  1988              2.50     3.50              6.00
20  1987              3.50     4.00              7.50
19  1986              4.00     3.24              7.24
18  1985              6.00     3.26             11.00
17  1984              0.00     2.65              5.11
16  1983              9.00     5.21             14.21
15  1982              0.00     2.00              2.00
14  1981              7.00     2.70              9.70
13  1980              6.05     3.00              9.05
12  1979              3.10     3.00              6.10
11  1978              5.50     3.00              8.50
10  1977              0.00     0.50              0.50
9   1976              5.30     4.00              9.30
8   1975              7.60     3.50             11.10
7   1974              0.00     5.00              5.00
6   1973              0.00     4.50              4.50
5   1972              7.80     6.00             14.80
4   1971              5.00     7.00             12.00
3   1970              8.00     6.00             14.00
2   1969              0.00     6.00              6.00
1   1968             12.00     5.00             17.00
0   1967              0.00     0.00              0.00

In [11]:
salary_increases.to_pickle('df/salary_increases')